<!DOCTYPE html>
<html>

<head>

<title>Zero Food Waste</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="form-container">


<h1>
Zero Food Waste 🌱
</h1>


<h2>
Donate Food • Reduce Waste • Help People
</h2>


<p>
A platform connecting food donors with people who need food.
</p>


<p>
Donate extra food and help prevent food wastage.
</p>


<br>


<a href="/login">

<button>
Login
</button>

</a>


<br><br>


<a href="/register">

<button>
Register
</button>

</a>


<br><br>


<a href="/admin">

Admin Login
</a>


</div>


</body>

</html>